<header>
  <div class="wrapper">

    <div class="header-item">
      <div class="logo">Logo</div>
    </div>

    <div class="header-item">
      <div class="header-item_btn"><a href="/update-base">Обновить базу</a></div>
      <div class="header-item_logout"><a href="/logout">Выйти</a></div>

    </div>

  </div>
</header>
<h1>Супер парсер тут</h1>
<section>
  <form class="form-control" name="searchForm" method="POST" action="search">
    <input type="text" name="searchText" required />
    <label>Поиск вакансий</label>
    <input type="submit" value="ИСКАТЬ" name="searchBtn">
  </form>
</section>
