<header class="container">
  <div class="wrapper">

    <div class="header-item">
      <a href="#" class="logo">Logo</a>
    </div>

    <div class="header-item">
      <div class="header-form">
        <form action="/updateBase" name="formAdmin" method="POST">
          <input type="text" name="adminText" class="header-form-text">
          <input type="submit" value="спарсить" name="adminBtn" class="btn">
        </form>
      </div>
      <div class="header-item_logout"><a href="/logout" class="btn">Выйти</a></div>

    </div>

  </div>
</header>

<section class="container">
  <div class="search-main">
    <form class="form-control" name="searchForm" method="POST" action="/search">
      <div class="input-main">
        <input type="text" name="searchText" class="input-main-text" required />
        <label>Поиск вакансий</label>
        <input type="submit" value="ИСКАТЬ" name="searchBtn" class="btn">
    </form>
  </div>
</section>

<section>
  <div class="average">
    <div class="average-salary">
      <h2>Средняя зарплата</h2>
      <div class="average-salary-inner"></div>
    </div>

    <div class="average-stack">
      <h2 class="average-stack-title">Необходимые технологии</h2>
      <div class="average-stack-inner">

      </div>
    </div>

  </div>
</section>

<section class="container">
  <div id="loader">
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
  </div>
