<form action="/registration" name="registrationForm" method="POST">
  <input type="text" name="registrationName" placeholder="Ник"><br>
  <input type="email" name="registrationEmail" placeholder="Почта"><br>
  <input type="password" name="registrationPassword" placeholder="Пароль"><br>
  <input type="checkbox" name="admin">
  <input type="submit" value="Жмяк">
</form>

<form action="/login" name="loginForm" method="POST">
  <input type="text" name="loginName" placeholder="Ник"><br>
  <input type="password" name="loginPassword" placeholder="Пароль"><br>
  <input type="submit" value="Кнопка">
</form>
