<section class="container vh100">
  <div class="forms-container">
    <form action="/registration" name="registrationForm" method="POST" class="  ">
      <h2 class="title">Регистрация</h2>

      <div class="input-field">
        <input type="text" name="registrationName" placeholder="Ник">
      </div>

      <div class="input-field">
        <input type="email" name="registrationEmail" placeholder="Почта">
      </div>

      <div class="input-field">
        <input type="password" name="registrationPassword" placeholder="Пароль">
      </div>
      <input type="checkbox" name="admin" style="display: none;">
      <input type="submit" value="Зарегаться" class="btn solid">
    </form>

    <form action="/login" name="loginForm" method="POST" class="sign-in-form">
      <h2 class="title">Войти</h2>
      <div class="input-field"><input type="text" name="loginName" placeholder="Ник"></div>
      <div class="input-field"><input type="password" name="loginPassword" placeholder="Пароль"></div>
      <input type="submit" value="Войти" class="btn solid">
    </form>
  </div>
</section>
